/*
 * Base
*/

@use '../abstracts/variables' as vars;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: vars.$font-family;
}

body {
    background-color: vars.$background-color;
}

img {
    width: 100%;
    object-fit: contain;
    object-position: center center;
}
