/*
*   All authentication pages
*/

.banner-logo {
    margin-bottom: 4.5rem;
}

.auth-container {
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 2rem;

    form {
        margin-top: 2rem;
    }

    .auth-bottom {
        margin-top: 2rem;
    }
}
