/*
*   Buttons
*/

@use '../abstracts/variables' as vars;
@use '../abstracts/extends';
@use 'sass:map';

.button {

    margin-top: 2rem;

    button {
        @extend %button;

        &:hover {
            filter: opacity(0.75);
        }
    }

    a {
        @extend %button;
        display: block;
        color: vars.$header-color;
        text-decoration: none;

        &:hover {
            filter: opacity(0.75);
        }
    }

    &.add {
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;

        a {
            padding: 1rem 1.5rem;
        }
    }
}

.menu-button {

    a {
        display: block;
        text-decoration: none;
        color: vars.$font-color;
        text-align: center;

        @extend %menu-button;

        &:hover {
            background-color: vars.$button-color;
        }
    }

    button {
        @extend %menu-button;
        cursor: pointer;

        &:hover {
            background-color: vars.$button-color;
        }
    }

    &:last-child {
        button {
            border-bottom: 3px solid vars.$black;
        }
    }

    &.category {
        margin-top: 1rem;

        img {
            width: 4rem;
            position: absolute;
        }

        a {
            border: none;
        }
    }
}

.shop-button {
    a {
        display: block;
        width: 100%;
        background-image: url('../../../public/assets/shop.jpg');
        background-size: cover;
        height: 240px;
        border-radius: vars.$border-radius;
        border: 5px solid vars.$highlight-color;

        color: vars.$font-color;
        text-decoration: none;
        font-size: map.get($map: vars.$typography, $key: h1);
        text-transform: uppercase;
        padding-left: 1rem;

        &:hover {
            filter: opacity(0.75);
        }
    }
}

.list {
    a {
        position: absolute;
        color: vars.$font-color;
        text-decoration: none;
        font-size: map.get($map: vars.$typography, $key: h3);
        padding-left: 0.8rem;
    }

    &.boy {
        a {
            img {
                border: 5px solid vars.$boy-dark-color;
                // filter: blur(1px);
                border-radius: 1rem;
            }
        }
    }

    &.girl {
        a {
            img {
                border: 5px solid vars.$girl-dark-color;
                // filter: blur(1px);
                border-radius: 1rem;
            }
        }
    }

    &.neutral {
        a {
            img {
                border: 5px solid vars.$neutral-dark-color;
                // filter: blur(1px);
                border-radius: 1rem;
            }
        }
    }
}
