/*
*   A form field
*/

@use '../abstracts/variables' as vars;

.field {
    label {
        display: block;
        text-align: left;
        margin-left: 1rem;
        color: vars.$gray;
    }

    input {
        width: 100%;
        height: vars.$field-height;
        padding: 0 1rem;
        border-radius: vars.$border-radius;
        border: 1px solid vars.$gray;

        &:focus {
            outline: 3px solid vars.$highlight-color;
        }

        &[type=file] {
            border: none;
        }

        &[type=radio] {
            border: none;
            outline: none;
            border-radius: 1px;
            height: calc(vars.$field-height / 1.4);
            width: calc(vars.$field-height / 1.4);
        }
    }

    .radio-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .radio {
            display: flex;
            justify-content: center;

            label {
                display: inline;
            }
        }
    }

    textarea {
        width: 100%;
        border-radius: vars.$border-radius;
        border: 1px solid vars.$gray;
        resize: none;
        padding: 0.5rem 1rem;


        &:focus {
            outline: 3px solid vars.$highlight-color;
        }
    }

    .select {
        display: flex;

        label {
            display: inline;
            margin-right: 1rem;
        }
    }
}

.field ~ .field {
    margin-top: 1rem;
}
