/*
*   Flash messages
*/

@use '../abstracts/variables' as vars;

.flash {
    color: vars.$white;
    padding: 0.5rem;
    border-radius: 1rem;

    li {
        list-style-type: none;
    }

    &.error {
        background-color: vars.$error-color;
    }

    &.success {
        background-color: vars.$success-color;
        position: fixed;
        bottom: 2rem;
        width: 90%;
        text-align: center;
    }
}
