/*
*   A product card
*/

@use '../abstracts/variables' as vars;

.product-card {
    text-decoration: none;

    .product {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 1rem;
        padding: 0.5rem;

        background-color: vars.$white;
        cursor: pointer;

        .image {
            img {
                border-radius: 1rem;
            }
        }

        .description {
            position: relative;

            h2 {
                margin: 1rem 0;
                color: vars.$highlight-color;
            }

            h5 {
                color: vars.$gray;
            }

            small {
                position: absolute;
                right: 1rem;
                bottom: 0;

                .fa-circle-check {
                    color: vars.$success-color;
                }
            }

            button {
                position: absolute;
                top: 0;
                right: 1rem;
                border: none;
                background-color: transparent;
                color: vars.$error-color;
            }
        }
    }
}
