/*
*   A product card
*/

@use '../abstracts/variables' as vars;

.product-card {
    text-decoration: none;

    .space {
        height: 1.5rem;
        background-color: vars.$white;
        position: relative;

        button {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            border: none;
            background-color: transparent;
            color: vars.$error-color;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .product {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 1rem;
        padding: 0.5rem;

        background-color: vars.$white;
        cursor: pointer;

        .image {
            img {
                border-radius: 1rem;
            }
        }

        .description {
            position: relative;

            h2 {
                margin: 1rem 0;
                color: vars.$highlight-color;
            }

            h5 {
                color: vars.$gray;
            }

            small {
                position: absolute;
                right: 1rem;
                bottom: 0;

                .fa-circle-check {
                    color: vars.$success-color;
                }
            }
        }
    }
}
