/*
 * Variables
*/
/*
 * Base
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sofia-pro, sans-serif;
}

body {
  background-color: #EFF0F3;
}

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

a {
  cursor: pointer;
}

/*
*   Typography
*/
h1 {
  font-size: 2.441rem;
  color: #0D0D0D;
}

h2 {
  font-size: 1.953rem;
  color: #0D0D0D;
}

h3 {
  font-size: 1.563rem;
  color: #0D0D0D;
}

h4 {
  font-size: 1.25rem;
  color: #0D0D0D;
}

p {
  font-size: 1rem;
  color: #2A2A2A;
}

small {
  font-size: 0.8rem;
  color: #707070;
}

/*
 * Helpers
 */
.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

/*
*   Header
*/
header {
  background-color: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 10;
}
header.boy {
  background-color: #BAE8E8;
}
header.girl {
  background-color: #FF8BA7;
}
header.neutral {
  background-color: #FFD803;
}
header img {
  width: 3.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
}
header img:hover {
  transform: scale(1.2);
}
header .fa-pen-to-square, header .fa-cart-shopping, header .fa-list {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  color: #000;
}
header .fa-pen-to-square:hover, header .fa-cart-shopping:hover, header .fa-list:hover {
  transform: scale(1.2);
}

/*
*   Menu
*/
#menu {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: rgba(239, 240, 243, 0.75);
  top: 0;
}

#outside-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 98;
  background-color: rgba(239, 240, 243, 0.75);
}

/*
*   The main layout
*/
.user-container {
  width: 90%;
  margin: 6rem auto;
}

/*
*   Banner
*/
.banner {
  height: 150px;
  overflow: hidden;
}

/*
*   Logo
*/
.logo {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #EFF0F3;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.logo img {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*
*   A form field
*/
.field label {
  display: block;
  text-align: left;
  margin-left: 1rem;
  color: #707070;
}
.field input {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  border: 1px solid #707070;
}
.field input:focus {
  outline: 3px solid #FF8E3C;
}
.field input[type=file] {
  border: none;
}
.field input[type=radio] {
  border: none;
  outline: none;
  border-radius: 1px;
  height: 1.7857142857rem;
  width: 1.7857142857rem;
}
.field .radio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.field .radio-container .radio {
  display: flex;
  justify-content: center;
}
.field .radio-container .radio label {
  display: inline;
}
.field textarea {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #707070;
  resize: none;
  padding: 0.5rem 1rem;
}
.field textarea:focus {
  outline: 3px solid #FF8E3C;
}
.field .select {
  display: flex;
}
.field .select label {
  display: inline;
  margin-right: 1rem;
}

.field ~ .field {
  margin-top: 1rem;
}

/*
*   Links
*/
.link a {
  color: #FF8E3C;
}

/*
*   Extends
*/
.button button, .button a {
  background-color: #FF8E3C;
  border-radius: 1rem;
  border: none;
  width: 100%;
  font-size: 1.563rem;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.25rem 0;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.menu-button a, .menu-button button {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.563rem;
  border: none;
  border-bottom: 1px solid #707070;
  padding: 1rem 0;
  background-color: #FFF;
}

/*
*   Buttons
*/
.button {
  margin-top: 2rem;
}
.button button:hover {
  filter: opacity(0.75);
}
.button button:disabled {
  color: #000;
  background-color: #707070;
  cursor: auto;
}
.button button:disabled:hover {
  filter: opacity(1);
}
.button a {
  display: block;
  color: #0D0D0D;
  text-decoration: none;
}
.button a:hover {
  filter: opacity(0.75);
}
.button.add {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}
.button.add a {
  padding: 1rem 1.5rem;
}

.menu-button a {
  display: block;
  text-decoration: none;
  color: #2A2A2A;
  text-align: center;
}
.menu-button a:hover {
  background-color: #FF8E3C;
}
.menu-button button {
  cursor: pointer;
}
.menu-button button:hover {
  background-color: #FF8E3C;
}
.menu-button:last-child button {
  border-bottom: 3px solid #000;
}
.menu-button.category {
  margin-top: 1rem;
}
.menu-button.category img {
  width: 4rem;
  position: absolute;
}
.menu-button.category a {
  border: none;
}

.shop-button a {
  display: block;
  width: 100%;
  background-image: url(/images/shop.jpg?f1240436adbd7aab66b863cadef645f0);
  background-size: cover;
  height: 240px;
  border-radius: 1rem;
  border: 5px solid #FF8E3C;
  color: #2A2A2A;
  text-decoration: none;
  font-size: 2.441rem;
  text-transform: uppercase;
  padding-left: 1rem;
}
.shop-button a:hover {
  filter: opacity(0.75);
}

.list a {
  position: absolute;
  color: #2A2A2A;
  text-decoration: none;
  font-size: 1.563rem;
  padding-left: 0.8rem;
}
.list.boy a img {
  border: 5px solid #749191;
  border-radius: 1rem;
}
.list.girl a img {
  border: 5px solid #6B3744;
  border-radius: 1rem;
}
.list.neutral a img {
  border: 5px solid #A89112;
  border-radius: 1rem;
}

/*
*   Flash messages
*/
.flash {
  color: #FFF;
  padding: 0.5rem;
  border-radius: 1rem;
}
.flash li {
  list-style-type: none;
}
.flash.error {
  background-color: #FF4C4C;
}
.flash.success {
  background-color: #4BB543;
  position: fixed;
  bottom: 2rem;
  width: 90%;
  text-align: center;
}

/*
*   A product card
*/
.product-card {
  text-decoration: none;
}
.product-card .space {
  height: 1.5rem;
  background-color: #FFF;
  position: relative;
}
.product-card .space button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  background-color: transparent;
  color: #FF4C4C;
  cursor: pointer;
}
.product-card .space button:hover {
  transform: scale(1.2);
}
.product-card .product {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 1rem;
  padding: 0.5rem;
  background-color: #FFF;
  cursor: pointer;
}
.product-card .product .image img {
  border-radius: 1rem;
}
.product-card .product .description {
  position: relative;
}
.product-card .product .description h2 {
  margin: 1rem 0;
  color: #FF8E3C;
}
.product-card .product .description h5 {
  color: #707070;
}
.product-card .product .description small {
  position: absolute;
  right: 1rem;
  bottom: 0;
}
.product-card .product .description small .fa-circle-check {
  color: #4BB543;
}

/*
*   Product details
*/
.product-detail {
  margin-top: 2rem;
}
.product-detail img {
  border-radius: 1rem;
}
.product-detail h2 {
  color: #FF8E3C;
}
.product-detail h5 {
  color: #707070;
}
.product-detail p {
  margin-top: 2rem;
}

/*
*   List card
*/
.lists a {
  text-decoration: none;
  position: relative;
}
.lists a .list h3 {
  position: absolute;
  left: 1rem;
  z-index: 5;
}
.lists a .list.boy img {
  filter: sepia() saturate(200%) hue-rotate(170deg);
  border: 5px solid #749191;
}
.lists a .list.girl img {
  border: 5px solid #6B3744;
  filter: sepia() saturate(200%) hue-rotate(240deg);
}
.lists a .list.neutral img {
  border: 5px solid #A89112;
  filter: sepia() saturate(200%) hue-rotate(360deg);
}
.lists a .list:hover img {
  filter: none;
}

/*
*   Box for choosing lists
*/
#choice-box {
  background-color: rgba(239, 240, 243, 0.75);
  z-index: 98;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.choice-box {
  z-index: 99;
  position: fixed;
  top: 20vh;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #FFF;
  padding: 1rem 2rem;
}
.choice-box .checkbox {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}
.choice-box .checkbox.boy {
  background-color: #BAE8E8;
}
.choice-box .checkbox.girl {
  background-color: #FF8BA7;
}
.choice-box .checkbox.neutral {
  background-color: #FFD803;
}
.choice-box a {
  cursor: pointer;
}

/*
*   All authentication pages
*/
.banner-logo {
  margin-bottom: 4.5rem;
}

.auth-container {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.auth-container form {
  margin-top: 2rem;
}
.auth-container .auth-bottom {
  margin-top: 2rem;
}

/*
*   Dashboard Page
*/
.list-container {
  margin-top: 2rem;
}
.list-container h2 {
  margin-bottom: 1rem;
}
.list-container .lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

/*
*   List edit Page
*/
.link {
  margin-top: 1rem;
}

/*
*   Shop Page
*/
.field {
  margin-top: 1rem;
}

.products {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

/*
*   Shop Page
*/
.link.bannerlink {
  position: absolute;
}

.stats {
  margin-top: 1rem;
}
.stats span {
  color: #FF8E3C;
}

.list-link {
  cursor: pointer;
  text-align: center;
}

/*
*   Scraper page
*/
.scrape-form {
  margin-top: 1rem;
  text-align: center;
}
.scrape-form .form-field {
  margin-bottom: 1rem;
  width: 75%;
  margin: 1rem auto;
}
.scrape-form .form-field label {
  display: block;
}
.scrape-form .form-field input {
  width: 100%;
  padding: 0.5rem 1rem;
}
.scrape-form .form-field select {
  width: 100%;
  padding: 0.5rem 1rem;
}

.categories {
  margin: 3rem auto;
}
.categories td {
  padding: 0.5rem 0;
}

/*
*   Message page
*/
.message-container {
  margin-top: 1rem;
}
.message-container .amount {
  margin-top: 1rem;
}

/*
*   Success page
*/
.success-container {
  margin-top: 15rem;
}
.success-container .text i {
  color: #4BB543;
}
.success-container .text h2 {
  margin-top: 1rem;
}
.success-container .link {
  margin-top: 2rem;
}
